/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

html, body { height:100%; margin:0 auto; padding:0; font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6, p { margin:0; padding:0; }
h1 { font-weight: bold; font-size: 2.45em; }
p { font-size: 1.6em; font-weight: 200; }
a { color: #1bbc9b; width: 50px; height: 50px; text-align: center; border-radius: 50%; border: 1px solid #1bbc9b; display: inline-block; margin: 10px 3px 10px 3px; -webkit-transition: 0.5s; transition: 0.5s; }
a:hover { color: #fff; text-decoration: none; background: #1bbc9b; }
a .fa { line-height: 50px; }
.our-color { color: #1bbc9b; }

#error { font-size: 1em; color: #e83233; margin: 10px; }
#success { font-size: 1em; color: #09a178; margin: 10px; }

form input { margin: 20px auto; height: 40px; border: 1px solid #edeff0; outline: none; padding: 0 15px; }
form input#email-subscribe { width: 300px; color: #b3b3b3; -webkit-transition: 0.5s; transition: 0.5s; }
form input#email-subscribe:focus { border-color: #b3b3b3; }
form input#subscribebtn { color: #fff; background: #1bbc9b; cursor: pointer; -webkit-transition: 0.5s; transition: 0.5s; }
form input#subscribebtn:hover { background: #11ab8c; }

#container { background:#fff; height:100%; margin:0 auto; padding:0; overflow:hidden; }

#container .brand { background:#1bbc9b; width:100%; height:40%; margin:0 auto; position:relative; }
#container .brand h1 { color:#fff; display:inline-block; position:absolute; top:50%; left:50%; }
#container .brand p { color:#fff; display:inline-block; position:absolute; top:70%; left:50%; }

#container #content { background:transparent; width:100%; height:60%; margin:0 auto; position:relative; overflow:hidden; }
#container #content .content { display:inline-block; position:absolute; top:50%; left:50%; text-align: center; }